
docling==2.76.0
fastapi==0.135.1
httpx==0.28.1
ie==2.0.0
loguru==0.7.3
mineru==2.7.6
mysql_connector_repackaged==0.3.1
numpy==1.24.3
openpyxl==3.0.10
openpyxl==3.1.5
pandas==2.0.3
passlib==1.7.4
pydantic==1.10.8
pydantic_settings==2.13.1
PyJWT==2.11.0
PyJWT==2.4.0
python-dotenv==1.2.2
QA==0.0.2
Requests==2.32.5
SQLAlchemy==1.4.39
utils==1.0.2
